[Desktop Entry]
Name=Store
Comment=Install new applications
Comment[af]=Installeer nuwe program
Comment[am]=አዲስ መተግበሪያዎችን መግጠሚያ
Comment[ar]=تثبيت التطبيقات الجديدة
Comment[ast]=Instalar nueves aplicaciones
Comment[ay]=Machaq aplikasiyunanak uchantaña
Comment[az]=Yeni tətbiqetmələr quraşdır
Comment[be]=Усталяваць новыя праграмы
Comment[bg]=Инсталиране на нови приложения
Comment[bn]=নতুন অ্যাপলিকেশন ইনস্টল করুন
Comment[bs]=Instaliraj nove aplikacije
Comment[ca]=Instal·leu aplicacions noves
Comment[ca@valencia]=Instal·lar nous programes
Comment[cs]=Nainstalovat nové aplikace
Comment[csb]=Instalëjë nową aplikacëjã
Comment[cy]=Gosod rhaglenni newydd
Comment[da]=Installér nye programmer
Comment[de]=Neue Anwendungen installieren
Comment[el]=Εγκατάσταση νέων εφαρμογών
Comment[eo]=Instali novajn aplikaĵojn
Comment[es]=Instalar aplicaciones nuevas
Comment[et]=Paigalda uusi rakendusi
Comment[eu]=Instalatu aplikazio berriak
Comment[fa]=نصب برنامه‌های جدید
Comment[fi]=Asenna uusia ohjelmia
Comment[fil]=Mag-install ng mga bagong application
Comment[fo]=Legg inn nýggjar nýtsluskipanir
Comment[fr]=Installer de nouvelles applications
Comment[fr_CA]=Installer de nouvelles applications
Comment[ga]=Suiteáil feidhmchláir nua
Comment[gd]=Stàlaich aplacaidean ùra
Comment[gl]=Instalar novos aplicativos
Comment[gv]=Cur claaghyn noa 'sy co`earrooder
Comment[he]=התקנת יישומונים חדשים
Comment[hi]=नए अनुप्रयोग इंस्टॉल करें
Comment[hr]=Instaliraj nove aplikacije
Comment[hu]=Új alkalmazások telepítése
Comment[hy]=Տեղադրել նոր ծրագիր
Comment[ia]=Installar nove applicationes
Comment[id]=Memasang aplikasi baru
Comment[ie]=Installar nov applicationes
Comment[is]=Setja upp ný forrit
Comment[it]=Installa nuove applicazioni
Comment[ja]=新しいアプリケーションをインストールします
Comment[jv]=Masang aplikasi anyar
Comment[ka]=ახალი აპლიკაციების დაყენება
Comment[kab]=Sebded isnasen imaynuten
Comment[kk]=Жаңа бағдарламаларды орнату
Comment[kn]=ಹೊಸ ಅನ್ವಯಿಕಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
Comment[ko]=새로운 소프트웨어를 설치합니다
Comment[ky]=Жаңы тиркемелерди орнотуу
Comment[la]=Novas applicationes institue
Comment[lo]=ຕິດຕັ້ງ ໂປຣແກຣມໃໝ່
Comment[lt]=Diegti naujas programas
Comment[lv]=Instalēt jaunas programmas
Comment[mg]=Hanampy rindrankajy vaovao
Comment[mk]=Инсталирај нови апликации
Comment[ml]=പുതിയ ആപ്ലിക്കേഷനുകൾ ഇൻസ്റ്റോൾ ചെയ്യുക
Comment[mr]=नवीन संगणक प्रणाली प्रस्थापित करा
Comment[ms]=Memasang aplikasi baru
Comment[nb]=Installer nye programmer
Comment[nds]=Neue Programme installieren
Comment[ne]=नयाँ अनुप्रयोग  स्थापना गर्नुहोस्
Comment[nl]=Nieuwe toepassingen installeren
Comment[nn]=Installer nye program
Comment[oc]=Installar d'aplicacions novèlas
Comment[om]=Dhimbaaftota haaraa dhaabi
Comment[pa]=ਨਵੀਆਂ ਐਪਲੀਕੇਸ਼ਣ ਇੰਸਟਾਲ ਕਰੋ
Comment[pap]=Instala programanan nobo
Comment[pl]=Zainstaluj nowe programy
Comment[pt]=Instalar novas aplicações
Comment[pt_BR]=Instalar novos aplicativos
Comment[ro]=Instalează aplicații noi
Comment[ru]=Установить новые приложения
Comment[si]=නව මෘදුකාංග ස්ථාපනය කරන්න
Comment[sk]=Inštalovať nové aplikácie
Comment[sl]=Namesti nove programe
Comment[so]=Shub baraamijyo cusub
Comment[sq]=Instalo programe të reja
Comment[sr]=Угради нове програме
Comment[sr@latin]=Instaliraj nove aplikacije
Comment[sv]=Installera nya program
Comment[ta]=புதிய பயன்பாடுகளை நிறுவு
Comment[te]=కొత్త అనువర్తనాలను స్థాపించు
Comment[tg]=Насб кардани барномаҳои нав
Comment[th]=ติดตั้งโปรแกรมใหม่
Comment[tl]=Mag-install ng mga bagong application
Comment[tr]=Yeni uygulamalar yükle
Comment[uk]=Встановлення нових програм
Comment[ur]=نئی ایپلی کیشن انسٹال کریں
Comment[uz]=Yangi ilovalarni o‘rnatish
Comment[vi]=Cài đặt ứng dụng mới
Comment[zgh]=ⵙⵔⵙ ⵜⵉⵙⵏⵙⵉⵡⵉⵏ ⵜⵉⵎⴰⵢⵏⵓⵜⵉⵏ
Comment[zh_CN]=安装新程序
Comment[zh_HK]=安裝新應用程式
Comment[zh_TW]=安裝新應用程式
Exec=feren-store
Icon=softwarecenter
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
